<nav>
    <% const userID = user._id
    console.log(userID) %>
    <div>
        <a href="" id="">My Profile</a>
    </div>
    <div>
        <a href="/trips" id="">Travel Log</a>&nbsp;|&nbsp;
        <a href="" id="">Friends</a>
    </div>
    <div>
        <a href="" id="">Log Out</a>
    </div>
</nav>