<nav>
    <a href="" id="">Travel Log</a>&nbsp;|&nbsp;
    <a href="" id="">Add Trip</a>&nbsp;|&nbsp;
    <a href="" id="">Add Excursion</a>&nbsp;|&nbsp;
    <a href="" id="">View Profile</a>&nbsp;|&nbsp;
    <a href="" id="">Log Out</a>&nbsp;|&nbsp;
</nav>