<nav>
    <div>
        <a href="" id="">Travel Log</a>
    </div>
    <div>
        <a href="/users/show" id="">View Profile</a>&nbsp;|&nbsp;
        <a href="/trips/new" id="">Add Trip</a>&nbsp;|&nbsp;
        <a href="" id="">Add Excursion</a>
    </div>
    <div>
        <a href="" id="">Log Out</a>
    </div>
</nav>