<%- include('./partials/header') %>

    <section id="mktgContainer">
        <div id="mktgSpace">
            <!--FERD-->
            <ticket>
                <h3 class="ticketTitle">
                    TRIP NAME HERE
                </h3>
                <div class="ticketBody">
                    <img src="./images/tickets.png" class="tripPic">
                    <div class="tripPrev">
                        <div class="tripTaker">
                            <img src="./images/ferdinand.jpeg" class="pfIcon">
                            <p>Ferdinand Thee Bull</p>
                        </div>
                        <p>
                            <span class="tripLength">TRIP START - TRIP END</span><br />
                            <span class="tripHighlight">I act like I'm an outdoor cat, but really I'm in an indoor cat
                                and traveling sounds like a nightmare, so I'm only here to stalk.</span>
                        </p>
                    </div>
                </div>
            </ticket>
            <!--RAVEN-->
            <ticket>
                <h3 class="ticketTitle">
                    TRIP NAME HERE
                </h3>
                <div class="ticketBody">
                    <img src="./images/tickets.png" class="tripPic">
                    <div class="tripPrev">
                        <div class="tripTaker">
                            <img src="./images/raven.jpg" class="pfIcon">
                            <p>xrAv3nXnEvRm0r3x</p>
                        </div>
                        <p>
                            <span class="tripLength">TRIP START - TRIP END</span><br />
                            <span class="tripHighlight">I act like I'm an outdoor cat, but really I'm in an indoor cat
                                and traveling sounds like a nightmare, so I'm only here to stalk.</span>
                        </p>
                    </div>
                </div>
            </ticket>
            <!--THE PRISIONER-->
            <ticket>
                <h3 class="ticketTitle">
                    TRIP NAME HERE
                </h3>
                <div class="ticketBody">
                    <img src="./images/tickets.png" class="tripPic">
                    <div class="tripPrev">
                        <div class="tripTaker">
                            <img src="./images/Angus.jpeg" class="pfIcon">
                            <p>Angus Q. Arbuckle</p>
                        </div>
                        <p>
                            <span class="tripLength">TRIP START - TRIP END</span><br />
                            <span class="tripHighlight">I act like I'm an outdoor cat, but really I'm in an indoor cat
                                and traveling sounds like a nightmare, so I'm only here to stalk.</span>
                        </p>
                    </div>
                </div>
            </ticket>
        </div>
    </section>

    <section id="loginRail"> <!-- login right rail -->
        <div>
            <img src="./images/logo.png" id="hmpgLogo">
            <h1 class="appName">Travel bLogger</h1>
            <h2 class="appSlogan">always B logging</h2>
        </div>
        <div>
            <a href="/auth/google">login
                <!-- <button id="authBtn">&nbsp;</button> -->
            </a>
            <!-- <a href="/auth/google"><img src="https://i.imgur.com/QqBJVLf.png"></a>
            <button></button> -->
            <p id="about">Lorem ipsum something<br>Will eventually need to give credit for all the pics I'm using</p>
        </div>
    </section>

    <%- include('./partials/footer') %>