<%- include('../partials/header') %>

    <main>
        <%- include('../partials/nav') %>
            <h2 class="formTitle">Log Your Trip:</h2>
            <form id="userForm" action=#?method=PUT" method="POST">
<!-- there are so many features I want to add to the user pages omg -->
                <label>Profile Name</label><br/>
                <input><br/>
                <label>First Name</label><br/>
                <input><br/>
                <label>Last Name:</label><br/>
                <input><br/>
                <label>Hometown (City, State)</label><br/>
                <input><br/>
                <label>Favorite Trip</label><br/>
                <input><br/>
                <label>Favorite Excursion</label><br/>
                <input><br/>
                <label>Bucket List Trips</label><br/>
                <input><br/>

                <input type="submit" value="Update Profile">
            </form>

    </main>

<%- include('../partials/footer') %>