<%- include('../partials/header') %>

    <main>
        <%- include('../partials/nav') %>
            <h2 class="formTitle">Log Your Trip:</h2>
            <form id="newTripForm">
                <label>Trip Name:</label>
                <input type="text" name="tripName"><br/>
                <label>Trip Start:</label>
                <input type="date" name="tripStart"><br/>
                <label>Trip End:</label>
                <input type="date" name="tripStart"><br/>
                <label>Highlights / Summary:</label>
                <textarea name="highlight"></textarea>
                <label>Was this trip your favorite?</label>
                <input type="checkbox" name="favorite">

                <input type="submit" value="Add Trip">
                <input type="submit" value="Save & Add Excursion">
            </form>

    </main>

<%- include('../partials/footer') %>