<%- include('../partials/header') %>

<main>
    <h1>trips show view  - i started writing here i guess</h1>
<%- include('../partials/nav') %>
    <section id="showTripPg">
        <article id="tripDetails">
            <!-- trip details -->
        </article>
        <aside class="tripComments">
            <!-- comments feed -->
        </aside>
    </section>
</main>

<%- include('../partials/footer') %>